body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: "Hanken Grotesk", sans-serif;
}
.card{
    display: grid;
    grid-template-columns: repeat(2, auto);

}
.result{
    background: linear-gradient(180deg, hsl(252, 100%, 67%) 20%, hsl(241, 81%, 54%) 80% );
    border-radius: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 20px hsl(252, 100%, 67%);
}
.result h4{
    color: hsl(0, 0%, 100%);
    opacity: 80%;
}
.grt{
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
}
.review{
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
    opacity: 80%;
    font-size: 15px;
}
.circle{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1) 30%, hsla(241, 72%, 46%, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}
.seventysix{
    color: hsl(0, 0%, 100%);
    font-size: 50px;
    line-height: 0.5;

}
.hundered{
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 300;
    opacity: 50%;
}
.summary{
    display: grid;
    grid-template-rows: repeat(5, auto);
    box-shadow: 2px 2px 2px 2px hsl(252, 100%, 67%, 0.1);
    padding-right: 30px;
    border-radius: 10px;
    padding-bottom: 30px;
}
.summary h4{
    margin-left: 30px;
}
.reaction {
    display: inline-flex;
    text-align: center;
    align-items: center;
    color: hsl(0, 100%, 67%);
    font-weight: 700;
    background-color: hsl(0, 60%, 90%);
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.reaction img{
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.reaction .marks{
    margin-left: 10px;
    color: hsl(224, 30%, 27%);
}
.reaction .deno{
    opacity: 50%;
}

/*memory*/
.memory{
    display: inline-flex;
    text-align: center;
    align-items: center;
    color: hsl(39, 100%, 56%);
    font-weight: 700;
    background-color: hsl(39, 46%, 89%);
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.memory img{
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.memory .marks{
    margin-left: 10px;
    color: hsl(224, 30%, 27%);
}
.memory .deno{
    opacity: 50%;
}
/*verbal*/
.verbal{
    display: inline-flex;
    text-align: center;
    align-items: center;
    color: hsl(166, 100%, 37%);
    font-weight: 700;
    background-color: hsl(167, 44%, 88%);
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin-left: 30px; 
    margin-bottom: 20px;
}
.verbal img{
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.verbal .marks{
    margin-left: 25px;
    color: hsl(224, 30%, 27%);
}
.verbal .deno{
    opacity: 50%;
}
/*visual*/
.visual{
    display: inline-flex;
    text-align: center;
    align-items: center;
    color: hsl(234, 85%, 45%);
    font-weight: 700;
    background-color: hsl(233, 71%, 91%);
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 20px; 
}
.visual img{
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.visual .marks{
    margin-left: 25px;
    color: hsl(224, 30%, 27%);
}
.visual .deno{
    opacity: 50%;
}
.continue{
    background-color: hsl(224, 30%, 27%);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin-left: 30px;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}
.continue:hover{
    cursor: pointer;
    background: linear-gradient(180deg, hsl(252, 100%, 67%) 20%, hsl(241, 81%, 54%) 80% );

}